<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inchoo_Exchange>
            <version>1.0.0.1</version>
        </Inchoo_Exchange>
    </modules>

    <global>
        <blocks>
            <inchoo_exchange>
                <class>Inchoo_Exchange_Block</class>
            </inchoo_exchange>
        </blocks>
        
        <helpers>
            <inchoo_exchange>
                <class>Inchoo_Exchange_Helper</class>
            </inchoo_exchange>
        </helpers>
        
        <models>
            <inchoo_exchange>
                <class>Inchoo_Exchange_Model</class>
                <resourceModel>inchoo_exchange_resource</resourceModel>
            </inchoo_exchange>
            <inchoo_exchange_resource>
                <class>Inchoo_Exchange_Model_Resource</class>
                <entities>
                    <exchangerate>
                        <table>inchoo_exchange_rate</table>
                    </exchangerate>
                    <testtable>
                        <table>inchoo_exchange_testtable</table>
                    </testtable>
                </entities>
            </inchoo_exchange_resource>
        </models>
        
      <resources>
            <inchoo_exchange_setup>
                <setup>
                    <module>Inchoo_Exchange</module>
                </setup>
            </inchoo_exchange_setup>
        </resources>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <inchoo_exchange before="Mage_Adminhtml">Inchoo_Exchange_Adminhtml</inchoo_exchange>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <crontab>
        <jobs>
            <inchoo_exchange>
                <schedule>
                    <cron_expr>*/1 * * * * </cron_expr> <!-- every 1 minute -->
                </schedule>
                <run>
                    <model>inchoo_exchange/cron::refreshExchangeRates</model>
                </run>
            </inchoo_exchange>
        </jobs>
    </crontab>

</config>
