<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inchoo_Shipping>
            <version>1.0.0.0</version>
        </Inchoo_Shipping>
    </modules>
     <global>
        <blocks>
            <inchoo_shipping>
                <class>Inchoo_Shipping_Block</class>
            </inchoo_shipping>
        </blocks>
        
        <helpers>
            <inchoo_shipping>
                <class>Inchoo_Shipping_Helper</class>
            </inchoo_shipping>
        </helpers>
        
        <models>
            <inchoo_shipping>
                <class>Inchoo_Shipping_Model</class>
                <resourceModel>inchoo_shipping_resource</resourceModel>
            </inchoo_shipping>
        </models>
    </global>
    <default>
        <carriers>
            <inchooshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>inchoo_shipping/carrier_shipping</model>
                <name>Inchoo Custom Shipping Method</name>
                <price>5.00</price>
                <title>Inchoo Custom Shipping Method</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </inchooshipping>
        </carriers>
    </default>
</config>