<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inchoo_Image>
            <version>1.0.0.0</version>
        </Inchoo_Image>
    </modules>
    <global>
        <blocks>
            <inchoo_image>
                <class>Inchoo_Image_Block</class>
            </inchoo_image>
        </blocks> 
        <helpers>
            <inchoo_image>
                <class>Inchoo_Image_Helper</class>
            </inchoo_image>
        </helpers>
        <models>
            <inchoo_image>
                <class>Inchoo_Image_Model</class>
                <resourceModel>inchoo_image_resource</resourceModel>
            </inchoo_image>
            <inchoo_image_resource>
                <class>Inchoo_Image_Model_Resource</class>
                <entities>
                    <image>
                        <table>inchoo_image</table>
                    </image>
                </entities>
            </inchoo_image_resource>
        </models>    
        <resources>
            <inchoo_image_setup>
                <setup>
                    <module>Inchoo_Image</module>
                    <class>Inchoo_Image_Model_Resource_Setup</class>
                </setup>
            </inchoo_image_setup>
        </resources> 
    </global> 
    <frontend>
        <routers>
            <inchoo_image>
                <use>standard</use>
                <args>
                    <module>Inchoo_Image</module>
                    <frontName>inchoo_image</frontName>
                </args>
            </inchoo_image>
        </routers>
        <layout>
            <updates>
                <inchoo_image module="Inchoo_Image">
                    <file>inchoo_image.xml</file>
                </inchoo_image>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <inchoo_image before="Mage_Adminhtml">Inchoo_Image_Adminhtml</inchoo_image>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>